



body{
	background-color:lightblue;
	margin:0;
	padding: 0;
	text-align: center;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	position: relative;
}

.title{
	margin-top: 100px;
	color: afff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.title h1{
	color: rgba(222, 156, 25, 0.9);
    text-shadow: 3px 3px black;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

.title h2{
	color:rgb(26, 21, 21);
	font-size: 15px;
}
form{
margin-top:58px;
transition: all 4s ease-in-put;
}
.form-control{
	width: 600px;
	background: transparent;
	border:none;
	border-bottom: 1px solid rgb(250, 247, 247);
	color: rgb(15, 13, 13);
	font-size: 18px;
	margin-bottom: 16px;

}

.submit{
	background: rgba(222, 156, 25, 0.9);
	border-color: transparent；
	color：#fff;
	font-size:20px;
	font-weight: bold;
	letter spacing: 2px;
	height: 30px;
	margin-top: 20px;
}

